.dropdown-menu {
  padding: 0 !important;
  width: 100%; }

.dropdown-item:hover {
  background-color: var(--color-secondary) !important;
  cursor: pointer; }

@media only screen and (max-width: 112.5em) {
  html {
    font-size: 100% !important; } }

@media only screen and (max-width: 93.75em) {
  html {
    font-size: 95% !important; } }

@media only screen and (max-width: 75em) {
  html {
    font-size: 80% !important; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 70% !important; } }

@media only screen and (max-width: 18.75em) {
  html {
    font-size: 62.5% !important; } }

:root {
  --font-primary:'Nunito','sans-serif';
  --font-secondary:'Josefin Sans','sans-serif';
  --font-tertairy:'Oswald','sans-serif';
  --font-quaterny:'Russo One', 'sans-serif';
  --color-primary:#5d001E;
  --color-secondary:#E3E2DF;
  --color-secondary-1:#ebeae6
    --color-tertiary:#E3AFBC;
  --color-quaterny:#9A1750;
  --color-quinary:#EE4C7C;
  --color-gray-light:rgba(226, 226, 226, 0.986);
  --color-gray-dark: #bfbeb7; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-primary);
  background-color: var(--color-secondary); }

::selection {
  color: var(--color-secondary);
  background-color: var(--color-quinary); }

.heading-primary {
  display: block;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: 300; }
  .heading-primary--responsive {
    font-size: 3.5vw; }
  .heading-primary--white {
    color: var(--color-secondary); }
  .heading-primary__sub {
    display: block;
    padding: 1rem 4rem;
    position: relative; }
    .heading-primary__sub:hover::after {
      width: 100%; }
    .heading-primary__sub::after {
      z-index: -1;
      display: block;
      content: '';
      position: absolute;
      height: 100%;
      width: 2%;
      top: 0;
      background-color: #5d001e;
      left: 0;
      transition: all .2s ease-out; }

.heading-secondary {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 300;
  color: var(--color-primary); }
  .heading-secondary--white {
    color: var(--color-secondary); }
  .heading-secondary--responsive {
    font-size: 2.5vw; }
  .heading-secondary--heavy {
    font-size: 3vw;
    font-family: var(--font-tertiary);
    color: var(--color-quaterny); }

.heading-tertiary {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-secondary); }
  .heading-tertiary--responsive {
    font-size: 2vw; }
  .heading-tertiary--white {
    color: var(--color-secondary); }

.heading-quaterny {
  font-size: 1.9rem;
  font-family: var(--font-secondary);
  color: var(--color-quaterny); }

.paragraph {
  font-size: 1vw;
  color: var(--color-primary); }
  .paragraph--white {
    color: var(--color-secondary); }
  .paragraph--heavy {
    font-size: 1.5vw;
    color: --color-quinary; }

.font-primary {
  font-family: var(--font-primary) !important; }

.font-secondary {
  font-family: var(--font-secondary) !important; }

.font-tertairy {
  font-family: var(--font-tertairy) !important; }

.font-quaterny {
  font-family: var(--font-quaterny) !important; }

.text_primary {
  color: var(--color-primary) !important; }

.text_secondary {
  color: var(--color-secondary) !important; }

.text_tertiary {
  color: var(--color-tertiary) !important; }

.text_quaterny {
  color: var(--color-quaterny) !important; }

.dark-overlay {
  filter: brightness(65%); }

p {
  font-size: 1.2rem !important; }

body {
  color: #212529 !important;
  background-color: white !important; }

.header {
  position: relative;
  grid-column: start/end;
  height: 100%; }
  .header__text-box {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
    height: 100%; }
  .header-contact {
    background-image: url(../../media/Images/gallery4.jpg);
    background-image: linear-gradient(120deg, var(--color-quinary), var(--color-tertiary), var(--color-quaterny));
    background-size: cover; }

.navigation {
  grid-column: start/end; }

.head-nav {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.6rem;
  list-style: none;
  align-items: center;
  background-color: var(--color-secondary); }
  .head-nav__logo {
    height: 5rem; }
  .head-nav__item {
    margin: 1rem;
    overflow: hidden; }
    .head-nav__item:nth-child(2) {
      margin-left: auto; }
    .head-nav__item:nth-child(4) {
      margin-right: auto; }
  .head-nav__link, .head-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: .2rem 2.5rem;
    font-family: var(--font-secondary);
    font-weight: 400;
    color: var(--color-primary);
    position: relative; }
    .head-nav__link::after, .head-nav__link:visited::after {
      position: absolute;
      background-color: var(--color-primary);
      display: block;
      content: "";
      width: 0;
      left: 50%;
      height: 2px;
      transition: width 0.3s ease 0s, left 0.3s ease 0s; }
  .head-nav__link:hover::after {
    left: 0;
    width: 100%; }

.head-nav {
  font-size: 1rem !important; }
  .head-nav__logo {
    height: 3rem !important; }
  .head-nav__item {
    margin: .8rem; }
    .head-nav__item:nth-child(4) {
      margin-right: 0 !important; }
    .head-nav__item:nth-child(6) {
      margin-right: auto; }
  .head-nav__link, .head-nav__link:visited {
    padding: .1rem 1.5rem !important; }

.checkout {
  background-color: #E3E2DF; }

.bg-secondary {
  background-color: #ebeae6 !important; }
