:root {
  --font-primary:'Nunito','sans-serif';
  --font-secondary:'Josefin Sans','sans-serif';
  --font-tertairy:'Oswald','sans-serif';
  --font-quaterny:'Russo One', 'sans-serif';
  --color-primary:#5d001E;
  --color-secondary:#E3E2DF;
  --color-tertiary:#E3AFBC;
  --color-quaterny:#9A1750;
  --color-quinary:#EE4C7C; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-primary);
  background-color: var(--color-secondary); }

::selection {
  color: var(--color-secondary);
  background-color: var(--color-quinary); }

.u-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.u-center-inline {
  text-align: center; }

.u-margin-bottom-medium {
  margin-bottom: 1vw; }

.heading-primary {
  display: block;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: 300; }
  .heading-primary--responsive {
    font-size: 3.5vw; }
  .heading-primary--white {
    color: var(--color-secondary); }
  .heading-primary__sub {
    display: block;
    padding: 1rem 4rem;
    position: relative; }
    .heading-primary__sub:hover::after {
      width: 100%; }
    .heading-primary__sub::after {
      z-index: -1;
      display: block;
      content: '';
      position: absolute;
      height: 100%;
      width: 2%;
      top: 0;
      background-color: #5d001e;
      left: 0;
      transition: all .2s ease-out; }

.heading-secondary {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 300;
  color: var(--color-primary); }
  .heading-secondary--white {
    color: var(--color-secondary); }
  .heading-secondary--responsive {
    font-size: 2.5vw; }
  .heading-secondary--heavy {
    font-size: 3vw;
    font-family: var(--font-tertiary);
    color: var(--color-quaterny); }

.heading-tertiary {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-secondary); }
  .heading-tertiary--responsive {
    font-size: 2vw; }
  .heading-tertiary--white {
    color: var(--color-secondary); }

.heading-quaterny {
  font-size: 1.9rem;
  font-family: var(--font-secondary);
  color: var(--color-quaterny); }

.paragraph {
  font-size: 1vw;
  color: var(--color-primary); }
  .paragraph--white {
    color: var(--color-secondary); }
  .paragraph--heavy {
    font-size: 1.5vw;
    color: --color-quinary; }

.font-primary {
  font-family: var(--font-primary) !important; }

.font-secondary {
  font-family: var(--font-secondary) !important; }

.font-tertairy {
  font-family: var(--font-tertairy) !important; }

.font-quaterny {
  font-family: var(--font-quaterny) !important; }

.text_primary {
  color: var(--color-primary) !important; }

.text_secondary {
  color: var(--color-secondary) !important; }

.text_tertiary {
  color: var(--color-tertiary) !important; }

.text_quaterny {
  color: var(--color-quaterny) !important; }

.dark-overlay {
  filter: brightness(65%); }

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .background-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn-outline-reddish {
  color: var(--color-quaterny) !important;
  border: 2px solid var(--color-quaterny) !important; }
  .btn-outline-reddish:hover {
    color: white !important;
    background-color: var(--color-quaterny); }

.btn-order {
  align-self: center;
  border: none;
  background-color: var(--color-quaterny);
  border-radius: 0;
  font-family: var(--font-tertiary);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.6rem 4rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: all .2s;
  color: var(--color-secondary); }
  .btn-order:hover {
    background-color: var(--color-quinary); }

.btn-read {
  align-self: center;
  border: none;
  background-color: var(--color-quaterny);
  border-radius: 0;
  font-family: var(--font-tertiary);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.6rem 4rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all .2s;
  color: var(--color-secondary); }
  .btn-read:hover {
    background-color: var(--color-quinary); }

.footer {
  background-color: var(--color-quaterny);
  grid-column: start / end;
  align-items: top;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content; }
  .footer__about {
    background-color: var(--color-secondary);
    font-size: 1.6rem;
    padding: 6rem 4rem; }
    .footer__about h3 {
      margin-bottom: 2rem; }
  .footer__info {
    background-color: var(--color-secondary);
    padding: 6rem 4rem; }
    .footer__info h3 {
      margin-bottom: 1.9rem; }
  .footer__connect {
    background-color: var(--color-secondary);
    padding: 6rem 4rem; }
  .footer__copyright {
    grid-column: 1/-1;
    padding: 1rem;
    text-align: center;
    color: var(--color-secondary);
    font-size: 1.4rem; }
  .footer__list {
    list-style: none; }
  .footer__links {
    font-size: 1.6rem; }
    .footer__links a:visited,
    .footer__links a:link,
    .footer__links a:active {
      display: block;
      color: var(--color-primary);
      text-decoration: none;
      transition: all .1s; }
    .footer__links a:hover {
      transform: scale(1.1); }
  .footer__socialicons {
    display: inline-block;
    fill: grey;
    margin-right: 4px;
    transition: all .3s; }
    .footer__socialicons:hover {
      fill: var(--color-tertiary); }
    .footer__socialicons a {
      text-decoration: none; }

.container {
  display: grid;
  grid-template-rows: min-content 91vh repeat(2, 50vw) repeat(3, min-content);
  grid-template-columns: [start] 1fr repeat(9, [col-start] minmax(min-content, 13rem) [col-end]) 1fr [end]; }

.header {
  position: relative;
  grid-column: start/end;
  height: 100%; }
  .header__text-box {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
    height: 100%; }
  .header-contact {
    background-image: url(../../media/Images/gallery4.jpg);
    background-image: linear-gradient(120deg, var(--color-quinary), var(--color-tertiary), var(--color-quaterny));
    background-size: cover; }

.navigation {
  grid-column: start/end; }

.head-nav {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.6rem;
  list-style: none;
  align-items: center;
  background-color: var(--color-secondary); }
  .head-nav__logo {
    height: 5rem; }
  .head-nav__item {
    margin: 1rem;
    overflow: hidden; }
    .head-nav__item:nth-child(2) {
      margin-left: auto; }
    .head-nav__item:nth-child(4) {
      margin-right: auto; }
  .head-nav__link, .head-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: .2rem 2.5rem;
    font-family: var(--font-secondary);
    font-weight: 400;
    color: var(--color-primary);
    position: relative; }
    .head-nav__link::after, .head-nav__link:visited::after {
      position: absolute;
      background-color: var(--color-primary);
      display: block;
      content: "";
      width: 0;
      left: 50%;
      height: 2px;
      transition: width 0.3s ease 0s, left 0.3s ease 0s; }
  .head-nav__link:hover::after {
    left: 0;
    width: 100%; }

.container > *:not(:last-child) {
  grid-column: start/end; }

.quality {
  display: grid;
  grid-template-columns: [start] 1fr repeat(2, [col-start] minmax(min-content, 58.5rem) [col-end]) 1fr [end];
  grid-template-rows: 1fr;
  grid-row-gap: 1vw;
  padding: 6vw 0; }
  .quality::before {
    content: "\201C";
    color: rgba(93, 0, 30, 0.3);
    font-size: 18vw;
    font-family: sans-serif;
    position: absolute;
    left: 2vw;
    top: 95vh; }
  .quality__content {
    grid-column: col-start 1/col-end 1;
    grid-row: 2/-1;
    padding: 2vw;
    display: flex;
    flex-direction: column; }
    .quality__content > :first-child {
      margin-top: auto; }
    .quality__content > :last-child {
      margin-bottom: auto; }
  .quality__picture-container {
    grid-column: col-start 2/col-end 2;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .quality__heading {
    grid-column: col-start 1/col-end 2; }
  .quality__pictures {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    outline-offset: 1vw;
    width: 100%;
    border-radius: 2px;
    transition: all .2s; }
    .quality__pictures:hover {
      outline: 1.5rem solid var(--color-primary);
      transform: scale(1.05);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
      z-index: 20; }
    .quality__pictures--p1 {
      grid-column: 1/-1;
      grid-row: 1/-1; }

.foodtype {
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: [start] 1fr repeat(2, [col-start] minmax(min-content, 58.5rem) [col-end]) 1fr [end];
  grid-template-rows: min-content 1fr;
  grid-row-gap: 6vw;
  grid-column-gap: 2vw;
  padding: 2vw 0;
  clip-path: polygon(86% 13%, 100% 0, 100% 100%, 0px 100%, 0 31%, 8% 13%);
  margin-top: -5vw;
  position: relative; }
  .foodtype__Before {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1vw; }
    .foodtype__Before:hover button {
      transform: translate(0);
      display: block; }
    .foodtype__Before-Desi {
      grid-column: 3/4;
      grid-row: 2/-1; }
    .foodtype__Before-BBQ {
      grid-column: 2/3;
      grid-row: 2/-1; }
    .foodtype__Before-Fast {
      grid-column: 1/2;
      grid-row: 2/-1;
      display: none; }
    .foodtype__Before-Chinese {
      grid-column: 4/5;
      grid-row: 2/-1;
      display: none; }
  .foodtype__BBQ {
    grid-column: 2/3;
    grid-row: 2/-1;
    background-image: linear-gradient(to right, rgba(227, 226, 223, 0.9), rgba(227, 226, 223, 0.9)), url(../media/images/cook2.jpg);
    background-position: top;
    background-size: cover;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.6); }
  .foodtype__Desi {
    grid-column: 3/4;
    grid-row: 2/-1;
    background-image: linear-gradient(to right, rgba(227, 226, 223, 0.9), rgba(227, 226, 223, 0.9)), url(../media/images/gallery5.jpg);
    background-position: top;
    background-size: cover;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.6); }
  .foodtype__Fast {
    grid-column: 1/2;
    grid-row: 2/-1;
    background-image: linear-gradient(to right, rgba(227, 226, 223, 0.9), rgba(227, 226, 223, 0.9)), url(../media/images/gallery8.jpg);
    background-position: top;
    background-size: cover;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.6); }
  .foodtype__Chinese {
    grid-column: 4/5;
    grid-row: 2/-1;
    background-image: linear-gradient(to right, rgba(227, 226, 223, 0.9), rgba(227, 226, 223, 0.9)), url(../media/images/cook1.jpg);
    background-position: top;
    background-size: cover;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.6); }
  .foodtype__header {
    margin-top: 7vw;
    grid-column: 1/-1;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .foodtype__header > p {
      width: 75%;
      text-align: center; }

.reviews {
  background-color: blue;
  background-image: linear-gradient(to right, rgba(227, 226, 223, 0.9), rgba(227, 226, 223, 0.9)), url(../media/images/cook2.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed; }
  .reviews__heading {
    text-align: center;
    padding: 4vw 0; }
  .reviews__container {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4vw;
    border-radius: 2px;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.6);
    color: #777;
    margin-bottom: 5vw;
    transform: skew(-10deg);
    transition: all .4s; }
    .reviews__container * {
      transform: skew(10deg); }
    .reviews__container:hover {
      color: var(--color-primary); }
      .reviews__container:hover > * {
        color: var(--color-primary); }
  .reviews__reviewheading {
    color: #777; }
  .reviews__text {
    color: #777; }

.features.features {
  padding: 3vw 0;
  padding-bottom: 5vw;
  grid-column: col-start 1/col-end 9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  align-items: center; }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: var(--color-quaterny); }
  .feature__paragraph {
    grid-column: 2/-1; }

.features__header {
  grid-column: 1/-1;
  text-align: center; }

.leftslider {
  position: absolute;
  z-index: 100;
  left: -1.2%;
  top: 64%;
  fill: var(--color-primary);
  height: 7.0vw;
  width: 7.0vw;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  transition: all .3s;
  cursor: pointer; }
  .leftslider:hover {
    fill: var(--color-secondary);
    background-color: var(--color-primary);
    box-shadow: 0 1.5rem 4rem black; }

.rightslider {
  position: absolute;
  z-index: 100;
  left: 94.2%;
  top: 64%;
  fill: var(--color-primary);
  height: 7.1vw;
  width: 7.1vw;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  transition: all .3s;
  cursor: pointer; }
  .rightslider:hover {
    fill: var(--color-secondary);
    background-color: var(--color-primary);
    box-shadow: 0 1.5rem 4rem black; }
