:root {
  --font-primary:'Nunito','sans-serif';
  --font-secondary:'Josefin Sans','sans-serif';
  --color-primary:#5d001E;
  --color-secondary:#E3E2DF;
  --color-tertiary:#E3AFBC;
  --color-quaterny:#9A1750;
  --color-quinary:#EE4C7C; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-primary);
  padding: 1rem; }

.u-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.u-center-inline {
  text-align: center; }

.u-margin-bottom-medium {
  margin-bottom: 1rem; }

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .background-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.footer {
  background-color: var(--color-secondary);
  grid-column: start / end; }

.container {
  display: grid;
  grid-template-rows: min-content 85vh repeat(2, 40vw) repeat(3, min-content);
  grid-template-columns: [start] 1fr repeat(9, [col-start] minmax(min-content, 13rem) [col-end]) 1fr [end]; }

.header {
  position: relative;
  grid-column: start/end;
  height: 100%; }
  .header__text-box {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(93, 0, 30, 0.5));
    height: 100%; }

.heading-primary {
  display: block;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: 400; }
  .heading-primary--responsive {
    font-size: 3.5vw; }
  .heading-primary--white {
    color: var(--color-secondary); }
  .heading-primary__sub {
    display: block;
    padding: 1rem 4rem;
    position: relative; }
    .heading-primary__sub:hover::after {
      width: 100%; }
    .heading-primary__sub::after {
      z-index: -1;
      display: block;
      content: '';
      position: absolute;
      height: 100%;
      width: 2%;
      top: 0;
      background-color: #5d001e;
      left: 0;
      transition: all .2s ease-out; }

.navigation {
  grid-column: start/end; }

.head-nav {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.6rem;
  list-style: none;
  align-items: center;
  background-color: var(--color-secondary); }
  .head-nav__logo {
    height: 5rem; }
  .head-nav__item {
    margin: 1rem;
    overflow: hidden; }
    .head-nav__item:nth-child(2) {
      margin-left: auto; }
    .head-nav__item:nth-child(4) {
      margin-right: auto; }
  .head-nav__link, .head-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: .2rem 2.5rem;
    font-family: var(--font-secondary);
    font-weight: 400;
    color: var(--color-primary);
    position: relative; }
    .head-nav__link::after, .head-nav__link:visited::after {
      position: absolute;
      background-color: var(--color-primary);
      display: block;
      content: "";
      width: 0;
      left: 50%;
      height: 2px;
      transition: width 0.3s ease 0s, left 0.3s ease 0s; }
  .head-nav__link:hover::after {
    left: 0;
    width: 100%; }

.quality {
  background-color: orange;
  grid-column: col-start 1/col-end 9; }

.foodtype {
  background-color: orangered;
  grid-column: col-start 1/col-end 9; }

.reviews {
  background-color: blue;
  grid-column: col-start 1/col-end 9; }

.features {
  background-color: aqua;
  grid-column: col-start 1/col-end 9; }
