.quality{
background-color: orange;
grid-column: col-start 1/col-end 9;
}
.foodtype{
background-color: orangered;
grid-column: col-start 1/col-end 9;
}
.reviews{
background-color: blue;
grid-column: col-start 1/col-end 9;
}
.features{
    background-color: aqua;
    grid-column: col-start 1/col-end 9;
}